<!--{include file="common/header.html"}-->
<meta name="loadmodule" content="Admin.Login" error="login.html" />
<meta name="loadmodule" content="Error.Check.Require" key="url_code" value="短縮コード" />
<meta name="loadmodule" content="Error.Check.Alnum" key="url_code" value="短縮コード" />
<meta name="loadmodule" content="Error.Check.Require" key="pc_url" value="URL（PC）" />
<meta name="loadmodule" content="Error.Exception" error="edit.html" />
<meta name="loadmodule" content="Input.Copy" target="url_code" result="url_name" />
<meta name="loadmodule" content="Shortage.Url.Save" />
<!--{assign var="site" value=$attr.site}-->
<!--{include file="common/subheader.html"}-->
<div class="container-fluid">
    <div class="row-fluid">
        <div id="content" class="span12">
            <!-- content starts -->
            <div>
                <div class="row-fluid sortable">
                    <div class="box span12">
                        <div class="box-header well" data-original-title>
                            <h2>
                                <i class="icon-edit"></i> 短縮URL登録／編集
                            </h2>
                        </div>
                        <div class="box-content">
                            <fieldset>
                                <legend>短縮URLの登録が完了しました</legend>
                                <div class="form-actions">
                                    <a href="index.html" class="btn">一覧に戻る</a>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!-- content ends -->
        </div>
        <!--/#content.span10-->
    </div>
    <!--/fluid-row-->
    <hr>
    <!--{include file="common/subfooter.html"}-->
</div>
<!--/.fluid-container-->
<!--{include file="common/footer.html"}-->